openapi: 3.0.0

info:
    title: Microsoft Intune via Graph API Plugin
    description: Skills for retrieving data from Microsoft Intune via Graph API calls
    version: "v1"

servers:
    - url: https://graph.microsoft.com/beta/deviceManagement

paths:

    #GetDeviceDeploymentStatus
    /deviceConfigurations?$select=id,displayName,lastModifiedDateTime,roleScopeTagIds,microsoft.graph.unsupportedDeviceConfiguration/originalEntityTypeName&$expand=deviceStatusOverview,assignments&$top=120&$filter=isof(%27microsoft.graph.windowsUpdateForBusinessConfiguration%27)&$count=true:
        get:
            operationId: GetDeviceDeploymentStatus
            description: Get the Device Deployment Status in Intune per each Update Ring Profile by using a Microsoft Graph API call. 
              The response includes the number of device according to the deployment status of pending, not applicable, success, error, failed, conflict.
            ExamplePrompt:
              - 'Show me the device deployment status per update ring'
              - 'Give me the number of devices that failed to deploy on the update ring XYZ'
              - 'Give me the number of devices on which the deployment on the update ring XYZ returned an error'
            parameters:
            responses:
                "200":
                    description: OK
                    content:
                        application/json:

    #GetWindowsUpgradeReadinessStatus
    /userExperienceAnalyticsWorkFromAnywhereMetrics('{scope}')/metricDevices:
        get:
            operationId: GetWindowsUpgradeReadinessStatus
            description: Get the readiness status of the Windows devices managed in Microsoft Intune for the possibility to upgrade them from Windows 10 to Windows 11.

              For each device in the list of results, the function call can return the following fields 
              id,deviceName,managedBy,manufacturer,model,osDescription,osVersion,azureAdJoinType,upgradeEligibility,ramCheckFailed,storageCheckFailed,processorCoreCountCheckFailed,
              processorSpeedCheckFailed,tpmCheckFailed,secureBootCheckFailed,processorFamilyCheckFailed,processor64BitCheckFailed,osCheckFailed.

              If not specified differently, always pass that exatct complete list of fields to the input parameter '$select'. Always put that paramter in query string. 

              Always pass the exact value "all" to the input parameter 'dtFilter' in query string. Always put that paramter in query string. 

              If not specified differently, to the input parameter '$orderBy' in query string the value 'osVersion%20asc', so that the results are ordered by osVersion in ascending order. 
              Always put that paramter in query string. 

              It is possible to filter the results on the value for readiness status of the Windows devices, which is described in the 'upgradeEligibility' field. 
              To filter the results on the value of that field, create a url-encoded OData filtering expression and set as value for the '$filter' parameter in query string. 
              The possible values for 'upgradeEligibility' field are 
              "microsoft.graph.OperatingSystemUpgradeEligibility'notCapable'", 
              "microsoft.graph.OperatingSystemUpgradeEligibility'capable'", 
              "microsoft.graph.OperatingSystemUpgradeEligibility'upgraded'", 
              "microsoft.graph.OperatingSystemUpgradeEligibility'unknown'", 
              When creating the OData filtering expression for the 'upgradeEligibility' field, chose one of the above 4 values according to the request received in input.
              For example, if the request in input specifies to retrieve only the devices that are 'not ready to be upgraded', add the '$filter' parameter in query string with the value 
              'upgradeEligibility%20eq%20microsoft.graph.OperatingSystemUpgradeEligibility%27notCapable%27' .

              It is possible to filter the results also on the partial or entire name of the device, manufacturer, model and os version to be considered. 
              If requested, add that condition in the url-encoded OData expression passed to the '$filter' parameter in query string.
              For example, if the request in input specifies to retrieve only the devices whose name contains "ABC", add the '$filter' parameter in query string with the value 
              'contains(deviceName,%20%27ABC%27)' .  
              If the request in input specifies to retrieve only the devices that are ready to be upgraded to W11 and whose device name or manufacturer name or model name contains "ABC", 
              add the '$filter' parameter in query string with the value 
              'upgradeEligibility%20eq%20microsoft.graph.OperatingSystemUpgradeEligibility%27capable%27%20and%20contains(deviceName,%20%27ABC%27)%20or%20contains(manufacturer,%20%27ABC%27)%20or%20contains(model,%20%27ABC%27)' . 

              When adding also a condition on 'osVersion' in the '$filter' parameter in query string, take into consideration the fact that the values in the 'osVersion' fields 
              are in the "Windows versioning format" which is composed by a major version, minor version, build number and revision number (UPB, update revision number). 
              For example, Windows 10 22H2 build 19405 patch level CU revision 5371 has osVersion '10.0.19045.5371'. 
              The osVersion field for Windows 10 always starts with "10.0.1". For example, "10.0.19043" is the initial part of the osVersion field for W10 21H1.  
              The osVersion field for Windows 10 always starts with "10.0.2". For example, "10.0.22621" is the initial part of the osVersion field for W11 22H2.
 
              When the input request specifies to filter the result on the 'upgradeEligibility' field, always remove that field from the list of fields specified in the '$select' input parameter in query string. 


            ExamplePrompt:
              - 'Give me the list of devices that cannot be upgraded from Windows 10 to Windows 11.'
              - 'Which of our devices cannot be upgraded from Windows 10?'
              - 'Which of our devices cannot be upgraded to W11?'
            parameters:
                - in: path 
                  name: scope
                  schema:
                      type: string
                  required: true  
                  example: "allDevices"
                - in: query 
                  name: $select
                  schema:
                      type: string
                  required: false  
                  example: "id,deviceName,managedBy,manufacturer,model,osDescription,osVersion,azureAdJoinType,upgradeEligibility,ramCheckFailed,storageCheckFailed,processorCoreCountCheckFailed,processorSpeedCheckFailed,tpmCheckFailed,secureBootCheckFailed,processorFamilyCheckFailed,processor64BitCheckFailed,osCheckFailed"
                - in: query 
                  name: dtFilter
                  schema:
                      type: string
                  required: false  
                  example: "all"
                - in: query 
                  name: $orderBy
                  schema:
                      type: string
                  required: false  
                  example: "osVersion%20asc"
                - in: query 
                  name: $top
                  schema:
                      type: int
                  required: false  
                  example: 40
                - in: query 
                  name: $filter
                  schema:
                      type: string
                  required: false  
                  example: "upgradeEligibility%20eq%20microsoft.graph.OperatingSystemUpgradeEligibility%27notCapable%27"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:   

    #GetAppsInstallStatusReport
    /reports/getAppsInstallSummaryReport:
        post:
            operationId: GetAppsInstallStatusReport
            summary: Get Apps Install Status Report
            description: Retrieves the status report of apps installed on devices managed by Intune.
                The report lists the application deployment status for each app, including the install failure percentage, 
                along with the counts of install success, failures for deployments targeting on devices and user.

                When it is requested to return specific columns, create an array of strings with the internal name of the requested columns 
                and pass it to the 'select' input parameter. 
                For example, the request to retrieve the status of the installations for the apps and to return only the display name and publisher 
                of these apps implies the need to set the input parameter 'select' equal to ["DisplayName","Publisher"].
                
                When it is requested to filter the results on the percentage or on the number of failures or success, create an OData filtering expression 
                with the internal name of the columns to be used for filtering and pass it to the 'filter' input parameter. 
                For example, the request to retrieve the list of apps with install failure rate grater than 75% implies the need to set the input parameter 
                'filter' equal to (FailedDevicePercentage gt '75') for the API call. 
                
                When it is requested to return the status report only for a specific app, pass its name as string to the 'search' parameter. 
                For example, the request to retrieve the install status report for the app XYZ implies the need to set the input parameter 'search' to "XYZ".   
                
                When it is requested to return the status report ordered by a specific set of columns, create an array of strings with the internal name of the 
                columns requested for sorting and pass it to the 'orderBy' input parameter. 
                For example, the request to retrieve the install status report for the apps ordered by DisplayName implies the need to set the input parameter 
                'orderBy' equal to ["DisplayName"].   

                The internal name of the columns to be used in the 'select', 'filter' and 'orderBy' input parameters are 
                "ApplicationId,"DisplayName","Publisher","Platform","Platform_loc","AppVersion","InstalledDeviceCount","InstalledUserCount",
                "FailedDeviceCount","FailedUserCount","PendingInstallDeviceCount","PendingInstallUserCount","NotApplicableDeviceCount","NotApplicableUserCount",
                "NotInstalledDeviceCount","NotInstalledUserCount","FailedDevicePercentage","AppPlatform". 
                When creating the values or the expressions for the 'select', 'filter' and 'orderBy' input parameters, select from the above list the internal name more 
                assonant to the name specified by the user in the input prompt.

            ExamplePrompt:
              - 'List the apps that have a install status failure rate on my managed devices between 75% and 100%'
              - 'Give me number of install failures for the app "XYZ"'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                select:
                                    type: array
                                    description: An array of strings with the name of the fields to be included in the response. Always specify a value for this parameter. Use ["DisplayName"] if no other value is specified as input                                    
                                    items:
                                        type: string
                                    defaultValue: ["DisplayName"] 
                                    example: ["DisplayName","Publisher","Platform","AppVersion","FailedDevicePercentage","FailedDeviceCount","FailedUserCount","InstalledDeviceCount","InstalledUserCount","PendingInstallDeviceCount","PendingInstallUserCount","NotApplicableDeviceCount","NotApplicableUserCount","NotInstalledDeviceCount","NotInstalledUserCount","ApplicationId"]
                                filter:
                                    description: An OData filtering expression to be used for filtering the results in the response.
                                    type: string
                                    example: "(FailedDevicePercentage gt '75' and FailedDevicePercentage le '100')"
                                skip:
                                    type: integer
                                    example: 0
                                search:
                                    type: string
                                    example: ""
                                orderBy:
                                    type: array
                                    description: An array of strings with the name of the fields to be used for ordering the response.
                                    items:
                                        type: string
                                    example: ["DisplayName"]
                                top:
                                    type: integer
                                    example: 50
            responses:
                '200':
                    description: Successful response with the apps install summary report
                    content:
                        application/json:
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - Insufficient permissions to access the resource
                '500':
                    description: Internal Server Error - An error occurred on the server

    #RetrieveDeviceAppInstallationStatusReport
    /reports/retrieveDeviceAppInstallationStatusReport:
        post:
            operationId: RetrieveDeviceAppInstallationStatusReport
            summary: Retrieve Device App Installation Status Report
            description: Retrieves the device installation status report for an app on a device managed by Intune.
                The report lists the devices where the installation of the app has been executed along with the result of this installation or uninstallation. 
                The evidence of the result is in the status column, which represents the status of teh app, like Installed, Failed, Install Pending, Uninstall Failed, etc...
                The application of interest is always specified in input as ApplicationId.

                When it is requested to return specific columns, create an array of strings with the internal name of the requested columns 
                and pass it to the 'select' input parameter. 
                For example, the request to retrieve the status of the installations for the specific app and to return only the device name and related user name 
                of the devices where the installation was launched implies the need to set the input parameter 'select' equal to ["DeviceName","UserPrincipalName"].
                
                When it is requested to filter the results on the percentage or on the number of failures or success, create an OData filtering expression 
                with the internal name of the columns to be used for filtering and pass it to the 'filter' input parameter. 
                The 'filter' input parameter should always contain in the 'ApplicationId' subparameter, the ID of the app of interest.
                For example, the request to retrieve the list of devices where the app XYZ installed successfully implies the need to set the input parameter 
                'filter' equal to (InstallState eq '1') and (ApplicationId eq '11111111-2222-3333-4444-555555555555') for the API call. 
                
                When it is requested to return the installation status report only for a specific device, pass the name of the device as string to the 'search' parameter. 
                For example, the request to retrieve the install status report for the app XYZ on the device ABC implies the need to set the input parameter 'search' to "ABC".   
                
                When it is requested to return the status report ordered by a specific set of columns, create an array of strings with the internal name of the 
                columns requested for sorting and pass it to the 'orderBy' input parameter. 
                For example, the request to retrieve the install status report for the app XYZ on the devices ordered by the display name of the device implies the need to 
                set the input parameter 'orderBy' equal to ["DisplayName"].   

                The internal name of the columns to be used in the 'select', 'filter' and 'orderBy' input parameters are 
                "DeviceName","UserPrincipalName","Platform","AppVersion","InstallState","InstallStateDetail","AssignmentFilterIdsExist","LastModifiedDateTime",
                "DeviceId","ErrorCode","UserName","UserId","ApplicationId","AssignmentFilterIdsList","AppInstallState","AppInstallStateDetails","HexErrorCode".
                When creating the values or the expressions for the 'select', 'filter' and 'orderBy' input parameters, select from the above list the internal name more 
                assonant to the name specified by the user in the input prompt.

            ExamplePrompt:
              - 'For the app 11111111-2222-3333-4444-555555555555 list the devices where the installation failed.'
              - 'List the devices where the installation of the app with ID 11111111-2222-3333-4444-555555555555 failed and returned the hex error code 0xC7D14FB5'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                select:
                                    type: array
                                    description: An array of strings with the name of the fields to be included in the response. Always specify a value for this parameter. Use ["DeviceName"] if no other value is specified as input                                    
                                    items:
                                        type: string
                                    defaultValue: ["DeviceName"] 
                                    example: ["DeviceName","UserPrincipalName","Platform","AppVersion","InstallState","InstallStateDetail","AssignmentFilterIdsExist","LastModifiedDateTime","DeviceId","ErrorCode","UserName","UserId","ApplicationId","AssignmentFilterIdsList","AppInstallState","AppInstallStateDetails","HexErrorCode"]
                                filter:
                                    description: An OData filtering expression to be used for filtering the results in the response.
                                    type: string
                                    example: "(FailedDevicePercentage gt '75' and FailedDevicePercentage le '100')"
                                skip:
                                    type: integer
                                    example: 0
                                search:
                                    type: string
                                    example: ""
                                orderBy:
                                    type: array
                                    description: An array of strings with the name of the fields to be used for ordering the response.
                                    items:
                                        type: string
                                    example: ["DisplayName"]
                                top:
                                    type: integer
                                    example: 50
            responses:
                '200':
                    description: Successful response with the apps install summary report
                    content:
                        application/json:
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - Insufficient permissions to access the resource
                '500':
                    description: Internal Server Error - An error occurred on the server

    #GetEncryptionReportForDevices
    /reports/getEncryptionReportForDevices:
        post:
            operationId: GetEncryptionReportForDevices
            summary: Get Encryption Report for Devices
            description: Retrieves the encryption report for the devices managed by Intune.
                The report lists the encryption status for each device, including information about the OS, the TPM and the encryption readiness.
                Encryption Readiness equal to true means that the device is ready to be configured for encryption, so it can be encypted; false means that it cannot be encypted.
                Encryption Status equal to true means that the device is already encrypted; false means that it is not encrypted.

                When it is requested to return specific columns, create an array of strings with the internal name of the requested columns 
                and pass it to the 'select' input parameter. 
                For example, the request to retrieve the status of the encryption for the devices and to return only the device name and TPM version 
                of these devices implies the need to set the input parameter 'select' equal to ["DeviceName","TpmSpecificationVersion"].
                
                When it is requested to filter the results on the percentage or on the encryption readiness or encryption status, create an OData filtering expression 
                with the internal name of the columns to be used for filtering and pass it to the 'filter' input parameter. 
                For example, the request to retrieve the encryption report with encryption readiness 'ready' and encryption status 'Not encrypted' implies the need to set 
                the input parameter 'filter' equal to (EncryptionReadinessState eq '1' and EncryptionStatus eq '0') for the API call. 
                
                When requested to filter on part of the device name or the entire device name, use the 'search' input parameter to specify the name or the part of the name 
                of the device as desired. 
                For example, the request to retrieve the encryption report for the devices with the name containing "XYZ" implies the need to set 
                the input parameter 'search' equal to "XYZ"
                                
                When it is requested to return the status report ordered by a specific set of columns, create an array of strings with the internal name of the 
                columns requested for sorting and pass it to the 'orderBy' input parameter. 
                For example, the request to retrieve the encryptiuon status report for the devices ordered by Device Name implies the need to set the input parameter 
                'orderBy' equal to ["DeviceName"].   

                The internal name of the columns to be used in the 'select', 'filter' and 'orderBy' input parameters are 
                "DeviceId","DeviceName","DeviceType","OSVersion","TpmSpecificationVersion","EncryptionReadinessState","EncryptionStatus","UPN"
                In the above list, 'UPN' is the user principal name of the user associated to the device managed in Intune. 
                When creating the values or the expressions for the 'select', 'filter' and 'orderBy' input parameters, select from the above list the internal name more 
                assonant to the name specified by the user in the input prompt.

            ExamplePrompt:
              - 'List the devices that have Encryption Readiness equal to true and Encryption Status equal to false.'
              - 'List the devices that are not encrypted and can be encrypted. Filter only the device whose name starts with ABC'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                select:
                                    type: array
                                    description: An array of strings with the name of the fields to be included in the response. Always specify a value for this parameter. Use ["DeviceName"] if no other value is specified as input                                    
                                    items:
                                        type: string
                                    defaultValue: ["DeviceName"] 
                                    example: ["DeviceId","DeviceName","DeviceType","OSVersion","TpmSpecificationVersion","EncryptionReadinessState","EncryptionStatus","UPN"]
                                filter:
                                    description: An OData filtering expression to be used for filtering the results in the response.
                                    type: string
                                    example: "EncryptionReadinessState eq '1' and EncryptionStatus eq '0'"
                                skip:
                                    type: integer
                                    example: 0
                                search:
                                    type: string
                                    example: ""
                                orderBy:
                                    type: array
                                    description: An array of strings with the name of the fields to be used for ordering the response.
                                    items:
                                        type: string
                                    example: ["DeviceName"]
                                top:
                                    type: integer
                                    example: 50
            responses:
                '200':
                    description: Successful response with the apps install summary report
                    content:
                        application/json:
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - Insufficient permissions to access the resource
                '500':
                    description: Internal Server Error - An error occurred on the server
