openapi: 3.0.0

info:
    title: Microsoft Intune via Graph API Plugin
    description: Skills for retrieving data from Microsoft Intune via Graph API calls
    version: "v1"

servers:
    - url: https://graph.microsoft.com/beta/deviceManagement

paths:


    #GetEnrollmentFailures
    /troubleshootingEvents:
        get:
            operationId: GetEnrollmentFailures
            description: Get the Device Management Troubleshooting Events in Intune related to Enrollment Failures. 

              If not specified differently, assign to the input parameter '$orderBy' in query string the value 'eventDateTime%20desc', so that the results are ordered by eventDateTime in descending order. 
              Always put that paramter in query string.      
              
              If not specified differently, assign to the input parameter '$top' in query string the value 20, so that only 20 results are returned. 
              Always put that paramter in query string.           
            
            ExamplePrompt:
              - 'Show me the latest enrollment failures in Intune'
            parameters:
                - in: query 
                  name: $orderBy
                  schema:
                      type: string
                  required: false  
                  example: "eventDateTime%20desc"
                - in: query 
                  name: $top
                  schema:
                      type: int
                  required: false  
                  example: 20
            responses:
                "200":
                    description: OK
                    content:
                        application/json:

    #GetDeviceDeploymentStatus
    /deviceConfigurations?$select=id,displayName,lastModifiedDateTime,roleScopeTagIds,microsoft.graph.unsupportedDeviceConfiguration/originalEntityTypeName&$expand=deviceStatusOverview,assignments&$top=120&$filter=isof(%27microsoft.graph.windowsUpdateForBusinessConfiguration%27)&$count=true:
        get:
            operationId: GetDeviceDeploymentStatus
            description: Get the Device Deployment Status in Intune per each Update Ring Profile. 
              The response includes the number of device according to the deployment status of pending, not applicable, success, error, failed, conflict.
            ExamplePrompt:
              - 'Show me the device deployment status per update ring'
              - 'Give me the number of devices that failed to deploy in the update ring XYZ'
              - 'Give me the number of devices on which the deployment in the update ring XYZ returned an error'
            parameters:
            responses:
                "200":
                    description: OK
                    content:
                        application/json:

    #GetWindowsUpgradeReadinessStatus
    /userExperienceAnalyticsWorkFromAnywhereMetrics('{scope}')/metricDevices:
        get:
            operationId: GetWindowsUpgradeReadinessStatus
            description: Get the readiness status of the Windows devices managed in Microsoft Intune for the possibility to upgrade them from Windows 10 to Windows 11.

              For each device in the list of results, the function call can return the following fields 
              id,deviceName,managedBy,manufacturer,model,osDescription,osVersion,azureAdJoinType,upgradeEligibility,ramCheckFailed,storageCheckFailed,processorCoreCountCheckFailed,
              processorSpeedCheckFailed,tpmCheckFailed,secureBootCheckFailed,processorFamilyCheckFailed,processor64BitCheckFailed,osCheckFailed.

              If not specified differently, always pass 'allDevices' as value for the mandatory input field 'scope'. Always include that parameter in query string. 

              If not specified differently, always pass that exatct complete list of fields to the input parameter '$select'. Always put that paramter in query string. 
              Do not url-encode the value of the '$select' query string parameter. 

              Always pass the exact value "all" to the input parameter 'dtFilter' in query string. Always put that paramter in query string. 

              If not specified differently, assign to the input parameter '$orderBy' in query string the value 'osVersion%20asc', so that the results are ordered by osVersion in ascending order. 
              Always put that paramter in query string. 

              It is possible to filter the results on the value for readiness status of the Windows devices, which is described in the 'upgradeEligibility' field. 
              To filter the results on the value of that field, create a url-encoded OData filtering expression and set as value for the '$filter' parameter in query string. 
              The possible values for 'upgradeEligibility' field are 
              "microsoft.graph.OperatingSystemUpgradeEligibility'notCapable'", 
              "microsoft.graph.OperatingSystemUpgradeEligibility'capable'", 
              "microsoft.graph.OperatingSystemUpgradeEligibility'upgraded'", 
              "microsoft.graph.OperatingSystemUpgradeEligibility'unknown'", 
              When creating the OData filtering expression for the 'upgradeEligibility' field, chose one of the above 4 values according to the request received in input.
              For example, if the request in input specifies to retrieve only the devices that are 'not ready to be upgraded', add the '$filter' parameter in query string with the value 
              'upgradeEligibility%20eq%20microsoft.graph.OperatingSystemUpgradeEligibility%27notCapable%27' .

              It is possible to filter the results also on the partial or entire name of the device (field 'deviceName'), manufacturer (field 'manufacturer'), 
              model (field 'model') and os version (field 'osVersion') to be considered. 
              If requested, add that condition in the url-encoded OData expression passed to the '$filter' parameter in query string.
              For example, if the request in input specifies to retrieve only the devices whose name contains "ABC", add the '$filter' parameter in query string with the value 
              'contains(deviceName,%20%27ABC%27)' .  
              If the request in input specifies to retrieve only the devices that are ready to be upgraded to W11 and whose device name or manufacturer name or model name contains "ABC", 
              add the '$filter' parameter in query string with the value 
              'upgradeEligibility%20eq%20microsoft.graph.OperatingSystemUpgradeEligibility%27capable%27%20and%20contains(deviceName,%20%27ABC%27)%20or%20contains(manufacturer,%20%27ABC%27)%20or%20contains(model,%20%27ABC%27)' . 

              When adding also a condition on 'osVersion' in the '$filter' parameter in query string, take into consideration the fact that the values in the 'osVersion' fields 
              are in the "Windows versioning format" which is composed by a major version, minor version, build number and revision number (UPB, update revision number). 
              For example, Windows 10 22H2 build 19405 patch level CU revision 5371 has osVersion '10.0.19045.5371'. 
              The osVersion field for Windows 10 always starts with "10.0.1". For example, "10.0.19043" is the initial part of the osVersion field for W10 21H1.  
              The osVersion field for Windows 10 always starts with "10.0.2". For example, "10.0.22621" is the initial part of the osVersion field for W11 22H2.
              Consider these version of Windows 
                Windows 10 1507 -> 10.0.10240
                Windows 10 1511 -> 10.0.10586
                Windows 10 1607 -> 10.0.14393
                Windows 10 1703 -> 10.0.15063
                Windows 10 1709 -> 10.0.16299
                Windows 10 1803 -> 10.0.17134
                Windows 10 1809 -> 10.0.17763
                Windows 10 1903 -> 10.0.18362
                Windows 10 1909 -> 10.0.18363
                Windows 10 2004 -> 10.0.19041
                Windows 10 20H2 -> 10.0.19042
                Windows 10 21H1 -> 10.0.19043
                Windows 10 21H2 -> 10.0.19044
                Windows 10 22H2 -> 10.0.19045 
                Windows 11 21H2 -> 10.0.22000
                Windows 11 22H2 -> 10.0.22621
                Windows 11 23H2 -> 10.0.22631
                Windows 11 24H2 -> 10.0.26100                
              If the input refers to a different version of Windows, do not include a condition on the 'osVersion' field in the '$filter' parameter in query string and specify in 
              the response that the filter on OS version has not been included because the build number of that version it is not known. Invite the user to specify the build number directly. 

              While building the '$filter' parameter in query string, it is not possible to combine in logical AND different conditions on 'osVersion', 'deviceName', 'manufacturer' or 'model'. 
              If the input request would suggest to filter on more of these conditions in logical AND, choose one and clarify in the response that the filtering requested is not supported. 
              It is possible, instead, to combine in logical AND a condition on the value of 'upgradeEligibility' and on the value of one and only one of the fields 
              'osVersion', 'deviceName', 'manufacturer' or 'model'. 
              It is also possible to combine in logical AND a condition on the value of 'upgradeEligibility' and on the the logical OR of the values of one or more of the fields 
              'osVersion', 'deviceName', 'manufacturer' or 'model'.              
                             
              When the input request specifies to filter the result on the 'upgradeEligibility' field, always remove that field from the list of fields specified in the '$select' input parameter in query string. 

            ExamplePrompt:
              - 'Give me the list of devices that cannot be upgraded from Windows 10 to Windows 11.'
              - 'Which of our devices cannot be upgraded from Windows 10?'
              - 'Which of our devices cannot be upgraded to W11?'
              - 'Give me the list of devices that have been upgraded and whose name contains "ABC"'
              - 'Give me the list of devices that have been upgraded with OS Windows 11 24H2.'
            parameters:
                - in: path 
                  name: scope
                  schema:
                      type: string
                  required: true  
                  example: "allDevices"
                - in: query 
                  name: $select
                  schema:
                      type: string
                  required: false  
                  example: "id,deviceName,managedBy,manufacturer,model,osDescription,osVersion,azureAdJoinType,upgradeEligibility,ramCheckFailed,storageCheckFailed,processorCoreCountCheckFailed,processorSpeedCheckFailed,tpmCheckFailed,secureBootCheckFailed,processorFamilyCheckFailed,processor64BitCheckFailed,osCheckFailed"
                - in: query 
                  name: dtFilter
                  schema:
                      type: string
                  required: false  
                  example: "all"
                - in: query 
                  name: $orderBy
                  schema:
                      type: string
                  required: false  
                  example: "osVersion%20asc"
                - in: query 
                  name: $top
                  schema:
                      type: int
                  required: false  
                  example: 40
                - in: query 
                  name: $filter
                  schema:
                      type: string
                  required: false  
                  example: "upgradeEligibility%20eq%20microsoft.graph.OperatingSystemUpgradeEligibility%27notCapable%27"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:   

    #GetDeviceBatteryPerformance
    /userExperienceAnalyticsBatteryHealthDevicePerformance:
        get:
            operationId: GetDeviceBatteryPerformance
            description: Get the battery health and performances for the devices managed in Intune.  

              For each device in the list of results, the function call can return the following fields 
              id,deviceId,deviceName,model,manufacturer,maxCapacityPercentage,estimatedRuntimeInMinutes,fullBatteryDrainCount,deviceBatteryCount,deviceBatteryHealthScore,healthStatus.

              If not specified differently, always pass that exatct complete list of fields to the input parameter '$select'. Always put that paramter in query string. 
              
              Always pass the exact value "all" to the input parameter 'dtFilter' in query string. Always put that paramter in query string. 

              If not specified differently, assign to the input parameter '$orderBy' in query string the value 'deviceName%20asc', so that the results are ordered by deviceName in ascending order. 
              Always put that paramter in query string. 

              It is possible to filter the results on the value for batterey health status of the Windows devices, which is described in the 'healthStatus' field. 
              To filter the results on the value of that field, create a OData filtering expression and set as value for the '$filter' parameter in query string. 
              The possible values for 'healthStatus' field are 
              "microsoft.graph.UserExperienceAnalyticsHealthState'needsAttention'", 
              "microsoft.graph.UserExperienceAnalyticsHealthState'meetingGoals'".
              When creating the OData filtering expression for the 'healthStatus' field, choose one of the above 2 values according to the request received in input.
              For example, if the request in input specifies to retrieve only the devices that 'have battery health issue', add the '$filter' parameter in query string with the value 
              "healthStatus eq microsoft.graph.UserExperienceAnalyticsHealthState'needsAttention'" .

              It is possible to filter the results also on the partial or entire name of the device (field 'deviceName'), manufacturer (field 'manufacturer')  
              and model (field 'model') to be considered. 
              If requested, add that condition in the OData expression passed to the '$filter' parameter in query string.
              For example, if the request in input specifies to retrieve only the devices whose name contains "ABC", add the '$filter' parameter in query string with the value 
              'contains(deviceName,'ABC')' .  
              If the request in input specifies to retrieve only the devices that have battery health issue and whose device name or manufacturer name or model name contains "ABC", 
              add the '$filter' parameter in query string with the value 
              "healthStatus eq microsoft.graph.UserExperienceAnalyticsHealthState'needsAttention' and contains(deviceName,'ABCP') or contains(model,'ABCP') or contains(manufacturer,'ABCP')" . 

              While building the '$filter' parameter in query string, it is not possible to combine in logical AND different conditions on 'deviceName', 'manufacturer' or 'model'. 
              If the input request would suggest to filter on more of these conditions in logical AND, choose one and clarify in the response that the filtering requested is not supported. 
              It is possible, instead, to combine in logical AND a condition on the value of 'healthStatus' and on the value of one and only one of the fields 
              'osVersion', 'deviceName', 'manufacturer' or 'model'. 
              It is also possible to combine in logical AND a condition on the value of 'healthStatus' and on the logical OR of the values of one or more of the fields 
              'osVersion', 'deviceName', 'manufacturer' or 'model'.

              When the input request specifies to filter the result on the 'healthStatus' field, always remove that field from the list of fields specified in the '$select' input parameter in query string. 

            ExamplePrompt:
              - '/GetDeviceBatteryPerformance Give me the list of devices that have battery health issues.'
              - 'Which of our devices with model ABC have battery health issues?'
              - 'Do the devices from manufacturer ABC and model XYZ have battery health issues?'
            parameters:

                - in: query 
                  name: $select
                  schema:
                      type: string
                  required: false  
                  example: "id,deviceId,deviceName,model,manufacturer,maxCapacityPercentage,estimatedRuntimeInMinutes,fullBatteryDrainCount,deviceBatteryCount,deviceBatteryHealthScore,healthStatus"
                - in: query 
                  name: dtFilter
                  schema:
                      type: string
                  required: false  
                  example: "all"
                - in: query 
                  name: $orderBy
                  schema:
                      type: string
                  required: false  
                  example: "deviceName%20asc"
                - in: query 
                  name: $top
                  schema:
                      type: int
                  required: false  
                  example: 40
                - in: query 
                  name: $filter
                  schema:
                      type: string
                  required: false  
                  example: "healthStatus eq microsoft.graph.UserExperienceAnalyticsHealthState'needsAttention'"            
            responses:
                "200":
                    description: OK
                    content:
                        application/json:

    #GetAppsInstallStatusReport
    /reports/getAppsInstallSummaryReport:
        post:
            operationId: GetAppsInstallStatusReport
            summary: Get Apps Install Status Report
            description: Retrieves the status report of apps installed on devices managed by Intune.
                The report lists the application deployment status for each app, including the install failure percentage, 
                along with the counts of install success, failures for deployments targeting on devices and user.

                When it is requested to return specific columns, create an array of strings with the internal name of the requested columns 
                and pass it to the 'select' input parameter. 
                For example, the request to retrieve the status of the installations for the apps and to return only the display name and publisher 
                of these apps implies the need to set the input parameter 'select' equal to ["DisplayName","Publisher"].
                
                When it is requested to filter the results on the percentage or on the number of failures or success, create an OData filtering expression 
                with the internal name of the columns to be used for filtering and pass it to the 'filter' input parameter. 
                For example, the request to retrieve the list of apps with install failure rate grater than 75% implies the need to set the input parameter 
                'filter' equal to (FailedDevicePercentage gt '75') for the API call. 
                
                When it is requested to return the status report only for a specific app, pass its name as string to the 'search' parameter. 
                For example, the request to retrieve the install status report for the app XYZ implies the need to set the input parameter 'search' to "XYZ".   
                
                When it is requested to return the status report ordered by a specific set of columns, create an array of strings with the internal name of the 
                columns requested for sorting and pass it to the 'orderBy' input parameter. 
                For example, the request to retrieve the install status report for the apps ordered by DisplayName implies the need to set the input parameter 
                'orderBy' equal to ["DisplayName"].   

                The internal name of the columns to be used in the 'select', 'filter' and 'orderBy' input parameters are 
                "ApplicationId,"DisplayName","Publisher","Platform","Platform_loc","AppVersion","InstalledDeviceCount","InstalledUserCount",
                "FailedDeviceCount","FailedUserCount","PendingInstallDeviceCount","PendingInstallUserCount","NotApplicableDeviceCount","NotApplicableUserCount",
                "NotInstalledDeviceCount","NotInstalledUserCount","FailedDevicePercentage","AppPlatform". 
                When creating the values or the expressions for the 'select', 'filter' and 'orderBy' input parameters, select from the above list the internal name more 
                assonant to the name specified by the user in the input prompt.

            ExamplePrompt:
              - 'List the apps that have a install status failure rate on my managed devices between 75% and 100%'
              - 'Give me number of install failures for the app "XYZ"'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                select:
                                    type: array
                                    description: An array of strings with the name of the fields to be included in the response. Always specify a value for this parameter. Use ["DisplayName"] if no other value is specified as input                                    
                                    items:
                                        type: string
                                    defaultValue: ["DisplayName"] 
                                    example: ["DisplayName","Publisher","Platform","AppVersion","FailedDevicePercentage","FailedDeviceCount","FailedUserCount","InstalledDeviceCount","InstalledUserCount","PendingInstallDeviceCount","PendingInstallUserCount","NotApplicableDeviceCount","NotApplicableUserCount","NotInstalledDeviceCount","NotInstalledUserCount","ApplicationId"]
                                filter:
                                    description: An OData filtering expression to be used for filtering the results in the response.
                                    type: string
                                    example: "(FailedDevicePercentage gt '75' and FailedDevicePercentage le '100')"
                                skip:
                                    type: integer
                                    example: 0
                                search:
                                    type: string
                                    example: ""
                                orderBy:
                                    type: array
                                    description: An array of strings with the name of the fields to be used for ordering the response.
                                    items:
                                        type: string
                                    example: ["DisplayName"]
                                top:
                                    type: integer
                                    example: 50
            responses:
                '200':
                    description: Successful response with the apps install summary report
                    content:
                        application/json:
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - Insufficient permissions to access the resource
                '500':
                    description: Internal Server Error - An error occurred on the server

    #RetrieveDeviceAppInstallationStatusReport
    /reports/retrieveDeviceAppInstallationStatusReport:
        post:
            operationId: RetrieveDeviceAppInstallationStatusReport
            summary: Retrieve Device App Installation Status Report
            description: Retrieves the device installation status report for an app on a device managed by Intune.
                The report lists the devices where the installation of the app has been executed along with the result of this installation or uninstallation. 
                The evidence of the result is in the status column, which represents the status of teh app, like Installed, Failed, Install Pending, Uninstall Failed, etc...
                The application of interest is always specified in input as ApplicationId.

                When it is requested to return specific columns, create an array of strings with the internal name of the requested columns 
                and pass it to the 'select' input parameter. 
                For example, the request to retrieve the status of the installations for the specific app and to return only the device name and related user name 
                of the devices where the installation was launched implies the need to set the input parameter 'select' equal to ["DeviceName","UserPrincipalName"].
                
                When it is requested to filter the results on the percentage or on the number of failures or success, create an OData filtering expression 
                with the internal name of the columns to be used for filtering and pass it to the 'filter' input parameter. 
                The 'filter' input parameter should always contain in the 'ApplicationId' subparameter, the ID of the app of interest.
                For example, the request to retrieve the list of devices where the app XYZ installed successfully implies the need to set the input parameter 
                'filter' equal to (InstallState eq '1') and (ApplicationId eq '11111111-2222-3333-4444-555555555555') for the API call. 
                
                When it is requested to return the installation status report only for a specific device, pass the name of the device as string to the 'search' parameter. 
                For example, the request to retrieve the install status report for the app XYZ on the device ABC implies the need to set the input parameter 'search' to "ABC".   
                
                When it is requested to return the status report ordered by a specific set of columns, create an array of strings with the internal name of the 
                columns requested for sorting and pass it to the 'orderBy' input parameter. 
                For example, the request to retrieve the install status report for the app XYZ on the devices ordered by the display name of the device implies the need to 
                set the input parameter 'orderBy' equal to ["DisplayName"].   

                The internal name of the columns to be used in the 'select', 'filter' and 'orderBy' input parameters are 
                "DeviceName","UserPrincipalName","Platform","AppVersion","InstallState","InstallStateDetail","AssignmentFilterIdsExist","LastModifiedDateTime",
                "DeviceId","ErrorCode","UserName","UserId","ApplicationId","AssignmentFilterIdsList","AppInstallState","AppInstallStateDetails","HexErrorCode".
                When creating the values or the expressions for the 'select', 'filter' and 'orderBy' input parameters, select from the above list the internal name more 
                assonant to the name specified by the user in the input prompt.

            ExamplePrompt:
              - 'For the app 11111111-2222-3333-4444-555555555555 list the devices where the installation failed.'
              - 'List the devices where the installation of the app with ID 11111111-2222-3333-4444-555555555555 failed and returned the hex error code 0xC7D14FB5'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                select:
                                    type: array
                                    description: An array of strings with the name of the fields to be included in the response. Always specify a value for this parameter. Use ["DeviceName"] if no other value is specified as input                                    
                                    items:
                                        type: string
                                    defaultValue: ["DeviceName"] 
                                    example: ["DeviceName","UserPrincipalName","Platform","AppVersion","InstallState","InstallStateDetail","AssignmentFilterIdsExist","LastModifiedDateTime","DeviceId","ErrorCode","UserName","UserId","ApplicationId","AssignmentFilterIdsList","AppInstallState","AppInstallStateDetails","HexErrorCode"]
                                filter:
                                    description: An OData filtering expression to be used for filtering the results in the response.
                                    type: string
                                    example: "(FailedDevicePercentage gt '75' and FailedDevicePercentage le '100')"
                                skip:
                                    type: integer
                                    example: 0
                                search:
                                    type: string
                                    example: ""
                                orderBy:
                                    type: array
                                    description: An array of strings with the name of the fields to be used for ordering the response.
                                    items:
                                        type: string
                                    example: ["DisplayName"]
                                top:
                                    type: integer
                                    example: 50
            responses:
                '200':
                    description: Successful response with the apps install summary report
                    content:
                        application/json:
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - Insufficient permissions to access the resource
                '500':
                    description: Internal Server Error - An error occurred on the server

    #GetEncryptionReportForDevices
    /reports/getEncryptionReportForDevices:
        post:
            operationId: GetEncryptionReportForDevices
            summary: Get Encryption Report for Devices
            description: Retrieves the encryption report for the devices managed by Intune.
                The report lists the encryption status for each device, including information about the OS, the TPM and the encryption readiness.
                Encryption Readiness equal to true means that the device is ready to be configured for encryption, so it can be encypted; false means that it cannot be encypted.
                Encryption Status equal to true means that the device is already encrypted; false means that it is not encrypted.

                When it is requested to return specific columns, create an array of strings with the internal name of the requested columns 
                and pass it to the 'select' input parameter. 
                For example, the request to retrieve the status of the encryption for the devices and to return only the device name and TPM version 
                of these devices implies the need to set the input parameter 'select' equal to ["DeviceName","TpmSpecificationVersion"].
                
                When it is requested to filter the results on the percentage or on the encryption readiness or encryption status, create an OData filtering expression 
                with the internal name of the columns to be used for filtering and pass it to the 'filter' input parameter. 
                For example, the request to retrieve the encryption report with encryption readiness 'ready' and encryption status 'Not encrypted' implies the need to set 
                the input parameter 'filter' equal to (EncryptionReadinessState eq '1' and EncryptionStatus eq '0') for the API call. 
                
                When requested to filter on part of the device name or the entire device name, use the 'search' input parameter to specify the name or the part of the name 
                of the device as desired. 
                For example, the request to retrieve the encryption report for the devices with the name containing "XYZ" implies the need to set 
                the input parameter 'search' equal to "XYZ"
                                
                When it is requested to return the status report ordered by a specific set of columns, create an array of strings with the internal name of the 
                columns requested for sorting and pass it to the 'orderBy' input parameter. 
                For example, the request to retrieve the encryptiuon status report for the devices ordered by Device Name implies the need to set the input parameter 
                'orderBy' equal to ["DeviceName"].   

                The internal name of the columns to be used in the 'select', 'filter' and 'orderBy' input parameters are 
                "DeviceId","DeviceName","DeviceType","OSVersion","TpmSpecificationVersion","EncryptionReadinessState","EncryptionStatus","UPN"
                In the above list, 'UPN' is the user principal name of the user associated to the device managed in Intune. 
                When creating the values or the expressions for the 'select', 'filter' and 'orderBy' input parameters, select from the above list the internal name more 
                assonant to the name specified by the user in the input prompt.

            ExamplePrompt:
              - 'List the devices that have Encryption Readiness equal to true and Encryption Status equal to false.'
              - 'List the devices that are not encrypted and can be encrypted. Search only for the device with name starting with ABC'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                select:
                                    type: array
                                    description: An array of strings with the name of the fields to be included in the response. Always specify a value for this parameter. Use ["DeviceName"] if no other value is specified as input                                    
                                    items:
                                        type: string
                                    defaultValue: ["DeviceName"] 
                                    example: ["DeviceId","DeviceName","DeviceType","OSVersion","TpmSpecificationVersion","EncryptionReadinessState","EncryptionStatus","UPN"]
                                filter:
                                    description: An OData filtering expression to be used for filtering the results in the response.
                                    type: string
                                    example: "EncryptionReadinessState eq '1' and EncryptionStatus eq '0'"
                                skip:
                                    type: integer
                                    example: 0
                                search:
                                    type: string
                                    example: ""
                                orderBy:
                                    type: array
                                    description: An array of strings with the name of the fields to be used for ordering the response.
                                    items:
                                        type: string
                                    example: ["DeviceName"]
                                top:
                                    type: integer
                                    example: 50
            responses:
                '200':
                    description: Successful response with the apps install summary report
                    content:
                        application/json:
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - Insufficient permissions to access the resource
                '500':
                    description: Internal Server Error - An error occurred on the server

    #GetConfigurationPolicyNoncomplianceSummaryReport
    /reports/getConfigurationPolicyNoncomplianceSummaryReport:
        post:
            operationId: GetConfigurationPolicyNoncomplianceSummaryReport
            summary: Get Configuration Policy Non compliance Summary Report
            description: Generate a report summarizing non-compliance with configuration policies across managed devices in your Intune environment.
                The report lists the Configuration Policies defined in Intune having errors or conflicts in their assignment. 
                For each policy, the report returns the numbers of devices with errors and devices with conflicts regarding the assignment of that specific policy. 
                
                When it is requested to return specific columns, create an array of strings with the internal name of the requested columns 
                and pass it to the 'select' input parameter. 
                For example, the request to retrieve the status of non-compliance for the configuration policies and to return only the policy name and 
                the number of non-compliant or error devices implies the need to set the input parameter 'select' equal to ["PolicyName","NumberOfNonCompliantOrErrorDevices"].
                
                When it is requested to filter the results on policy type, policy source or platform, create an OData filtering expression 
                with the internal name of the columns to be used for filtering and pass it to the 'filter' input parameter. 
                For example, the request to retrieve the non-compliance report for 
                1) policy type equal to endpoint protection, exploit protection, identity protection, defender antivirus, antivirus exclusions 
                2) policy platform equal to Window 10 and above
                3) policy source equal to endpoint security 
                implies the need to set the input parameter 'filter' for the API call equal to 
                ((UnifiedPolicyType eq 'EndpointProtection') or (UnifiedPolicyType eq 'IdentityProtection') or (UnifiedPolicyType eq 'ExploitProtection') or (UnifiedPolicyType eq 'MicrosoftDefenderAntivirus') or (UnifiedPolicyType eq 'MicrosoftDefenderAntivirusexclusions') or (UnifiedPolicyType eq 'ASRExploitProtection') or (UnifiedPolicyType eq 'Antivirus') or (UnifiedPolicyType eq 'AVExclusions') or (UnifiedPolicyType eq 'ASRExploitProtection') or (UnifiedPolicyType eq 'Antivirus') or (UnifiedPolicyType eq 'AVExclusions') or (UnifiedPolicyType eq 'ASRExploitProtection') or (UnifiedPolicyType eq 'Antivirus') or (UnifiedPolicyType eq 'AVExclusions') or (UnifiedPolicyType eq 'ASRExploitProtection') or (UnifiedPolicyType eq 'Antivirus') or (UnifiedPolicyType eq 'AVExclusions')) and ((UnifiedPolicyPlatformType eq 'Windows10')) and ((ProfileSource eq 'Endpoint Security')) and ((PolicyBaseTypeName eq 'Microsoft.Management.Services.Api.DeviceConfiguration') or (PolicyBaseTypeName eq 'DeviceManagementConfigurationPolicy') or (PolicyBaseTypeName eq 'Microsoft.Management.Services.Api.DeviceManagementIntent'))". 
                
                The following is the correct setup of the 'filter' parameter with *all* the allowed options specified. Use it to understand how to set the 'filter' parameter according to the input request.  
                ((UnifiedPolicyType eq 'Custom') or (UnifiedPolicyType eq 'Delivery optimization') or (UnifiedPolicyType eq 'Derived credentials') or (UnifiedPolicyType eq 'Device firmware configuration interface') or (UnifiedPolicyType eq 'DeviceRestrictions') or (UnifiedPolicyType eq 'DeviceRestrictionsWindows10Team') or (UnifiedPolicyType eq 'Domain join') or (UnifiedPolicyType eq 'EditionUpgradeAndModeSwitch') or (UnifiedPolicyType eq 'Email') or (UnifiedPolicyType eq 'EmailSamsungKnoxOnly') or (UnifiedPolicyType eq 'EndpointProtection') or (UnifiedPolicyType eq 'ExploitProtection') or (UnifiedPolicyType eq 'IdentityProtection') or (UnifiedPolicyType eq 'MicrosoftDefenderAntivirus') or (UnifiedPolicyType eq 'MicrosoftDefenderAntivirusexclusions') or (UnifiedPolicyType eq 'Microsoft Defender for Endpoint (Desktop devices running Windows 10 or later)') or (UnifiedPolicyType eq 'NetworkBoundary') or (UnifiedPolicyType eq 'OverrideGroupPolicy') or (UnifiedPolicyType eq 'PkcsCertificate') or (UnifiedPolicyType eq 'PkcsImportedCertificate') or (UnifiedPolicyType eq 'ScepCertificate') or (UnifiedPolicyType eq 'MDMSecurityBaseline2101') or (UnifiedPolicyType eq 'Office365Baseline') or (UnifiedPolicyType eq 'Office365BaselinePreview') or (UnifiedPolicyType eq 'MicrosoftDefenderBaseline') or (UnifiedPolicyType eq 'EdgeSecurityBaseline') or (UnifiedPolicyType eq 'EdgeSecurityBaselinePreview') or (UnifiedPolicyType eq 'SharedMultiUserDevice') or (UnifiedPolicyType eq 'Software updates') or (UnifiedPolicyType eq 'TrustedCertificate') or (UnifiedPolicyType eq 'Unknown') or (UnifiedPolicyType eq 'WiFi') or (UnifiedPolicyType eq 'WindowsHealthMonitoring') or (UnifiedPolicyType eq 'WiredNetwork') or (UnifiedPolicyType eq 'ASRExploitProtection') or (UnifiedPolicyType eq 'Antivirus') or (UnifiedPolicyType eq 'AVExclusions') or (UnifiedPolicyType eq 'ASRExploitProtection') or (UnifiedPolicyType eq 'Antivirus') or (UnifiedPolicyType eq 'AVExclusions') or (UnifiedPolicyType eq 'ASRExploitProtection') or (UnifiedPolicyType eq 'Antivirus') or (UnifiedPolicyType eq 'AVExclusions')) and ((UnifiedPolicyPlatformType eq 'Android') or (UnifiedPolicyPlatformType eq 'AndroidAOSP') or (UnifiedPolicyPlatformType eq 'AndroidForWork') or (UnifiedPolicyPlatformType eq 'AndroidWorkProfile') or (UnifiedPolicyPlatformType eq 'IOS') or (UnifiedPolicyPlatformType eq 'MacOS') or (UnifiedPolicyPlatformType eq 'WindowsPhone81') or (UnifiedPolicyPlatformType eq 'Windows81AndLater') or (UnifiedPolicyPlatformType eq 'Windows10')) and ((ProfileSource eq 'Device Configuration') or (ProfileSource eq 'Endpoint Security') or (ProfileSource eq 'Security Baseline') or (ProfileSource eq 'Unknown')) and ((PolicyBaseTypeName eq 'Microsoft.Management.Services.Api.DeviceConfiguration') or (PolicyBaseTypeName eq 'DeviceManagementConfigurationPolicy') or (PolicyBaseTypeName eq 'Microsoft.Management.Services.Api.DeviceManagementIntent'))

                When requested to filter on part of the configuration policy name or the entire configuration policy name, use the 'search' input parameter to specify the name or the part of the name 
                of the configuration policy as desired. 
                For example, the request to retrieve the non-compliance report for the configuration policy with the name containing "XYZ" implies the need to set 
                the input parameter 'search' equal to "XYZ"
                                
                When it is requested to return the status report ordered by a specific set of columns, create an array of strings with the internal name of the 
                columns requested for sorting and pass it to the 'orderBy' input parameter. 
                For example, the request to retrieve the configuration policy status report for the policies ordered by Policy Name implies the need to set the input parameter 
                'orderBy' equal to ["PolicyName"].   

                The internal name of the columns to be used in the 'select', 'filter' and 'orderBy' input parameters are 
                "PolicyName","PolicyId","UnifiedPolicyType","PolicyBaseTypeName","ProfileSource","UnifiedPolicyPlatformType","NumberOfNonCompliantOrErrorDevices","NumberOfConflictDevices" 
                When creating the values or the expressions for the 'select', 'filter' and 'orderBy' input parameters, select from the above list the internal name more 
                assonant to the name specified by the user in the input prompt.

            ExamplePrompt:
              - 'List all the configuration policies assigned to managed devices in Intune that have assignment errors or conflicts'
              - 'Give me the number of assignment errors or conflicts for the configuration policy named "ABC"'
              - 'Are there assignment errors for the configuration policies of type "SCEP certificate"?'
              - 'Retrieve the number of assignment errors for the configuration policies of type "SCEP certificate" or "Custom". Filter only the policies with the word "Real" in their names.'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                select:
                                    type: array
                                    description: An array of strings with the name of the fields to be included in the response. Always specify a value for this parameter. Use ["PolicyName"] if no other value is specified as input                                    
                                    items:
                                        type: string
                                    defaultValue: ["PolicyName"] 
                                    example: ["PolicyName","PolicyId","UnifiedPolicyType","PolicyBaseTypeName","ProfileSource","UnifiedPolicyPlatformType","NumberOfNonCompliantOrErrorDevices","NumberOfConflictDevices"]
                                filter:
                                    description: An OData filtering expression to be used for filtering the results in the response.
                                    type: string
                                    example: "((PolicyBaseTypeName eq 'Microsoft.Management.Services.Api.DeviceConfiguration') or (PolicyBaseTypeName eq 'DeviceManagementConfigurationPolicy') or (PolicyBaseTypeName eq 'Microsoft.Management.Services.Api.DeviceManagementIntent'))"
                                skip:
                                    type: integer
                                    example: 0
                                search:
                                    type: string
                                    example: ""
                                orderBy:
                                    type: array
                                    description: An array of strings with the name of the fields to be used for ordering the response.
                                    items:
                                        type: string
                                    example: ["PolicyName"]
                                top:
                                    type: integer
                                    example: 50
            responses:
                '200':
                    description: Successful response with the apps install summary report
                    content:
                        application/json:
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - Insufficient permissions to access the resource
                '500':
                    description: Internal Server Error - An error occurred on the server

    #GetRegulationPolicyNoncomplianceSummaryReport
    /reports/getPolicyNoncomplianceSummaryReport:
        post:
            operationId: GetRegulationPolicyNoncomplianceSummaryReport
            summary: Get Regulation Policy Non compliance Summary Report
            description: Generate a report summarizing non-compliance and errors with Regulation Policies across managed devices in your Intune environment.
                The report lists the Regulation Policies defined in Intune having errors or non-compliance in their assignment. 
                For each policy, the report returns the numbers of devices with errors and devices with non-compliance regarding the assignment of that specific policy. 
                
                When it is requested to return specific columns, create an array of strings with the internal name of the requested columns 
                and pass it to the 'select' input parameter. 
                For example, the request to retrieve the status of non-compliance for the configuration policies and to return only the policy name and 
                the number of non-compliant or error devices implies the need to set the input parameter 'select' equal to ["PolicyName","NumberOfNonCompliantOrErrorDevices"].
                If not differently specified, set 'select' input parameter with the following value 
                ["PolicyName","UnifiedPolicyPlatformType","NumberOfNonCompliantDevices","NumberOfErrorDevices","PolicyBaseTypeName","PolicyId"] 
                Always include the 'select' input parameter in the post request. 

                The OData query in the 'filter' input parameter for this method MUST ALWAYS include the condition to filter on policies of type "compliance"; so, the minimal expression 
                to be added in that OData filter is the following 
                ((PolicyBaseTypeName eq 'Microsoft.Management.Services.Api.DeviceCompliancePolicy') or (PolicyBaseTypeName eq 'DeviceManagementCompliancePolicy'))
                If not differently specified, set 'filter' input parameter with the value just specified. 
                Always include the 'filter' input parameter in the post request. 
                
                When it is requested to filter the results on platform type (= operating system), modify the OData filtering expression for the 'filter' input parameter
                by setting also the 'PolicyPlatformType' field. These are the values for the 'PolicyPlatformType' field 
                    Android -> PolicyPlatformType eq '0'
                    Android for Work -> PolicyPlatformType eq '1'
                    iOS -> PolicyPlatformType eq '2'
                    macOS -> PolicyPlatformType eq '3'
                    Windows Phone 8.1 -> PolicyPlatformType eq '4'
                    Windows 8.1 and later -> PolicyPlatformType eq '5'
                    Windows 10 and later -> PolicyPlatformType eq '6'
                    Android Work Profile -> PolicyPlatformType eq '7'
                    Windows 10X Profile -> PolicyPlatformType eq '8'
                    Android AOSP -> PolicyPlatformType eq '9'
                    Linux -> PolicyPlatformType eq '128'
                    ALL -> PolicyPlatformType eq '100'
                For example, the request to retrieve the non-compliant and error assignments report for the Regulation Policies on Windows 10 and later 
                implies the need to set the input parameter 'filter' for the API call equal to 
                ((PolicyBaseTypeName eq 'Microsoft.Management.Services.Api.DeviceCompliancePolicy') or (PolicyBaseTypeName eq 'DeviceManagementCompliancePolicy')) and (PolicyPlatformType eq '6'). 
                
                Add (PolicyPlatformType eq '100') to the OData expression in the 'filter' input parameter when it is requested to consider only the Regulation Policies that are 
                assigned to all kind of platforms. 

                Add (PolicyId eq '<policy-id>') to the OData expression in the 'filter' input parameter when it is requested to filter also by Regulation Policy ID. 

                When requested to filter on part of the Regulation Policy name or the entire Regulation Policy name, use the 'search' input parameter to specify the name or the part of the name 
                of the configuration policy as desired. 
                For example, the request to retrieve the non-compliance and error report for the Regulation Policy with the name containing "XYZ" implies the need to set 
                the input parameter 'search' equal to "XYZ"
                                
                When it is requested to return the status report ordered by a specific set of columns, create an array of strings with the internal name of the 
                columns requested for sorting and pass it to the 'orderBy' input parameter. 
                For example, the request to retrieve the configuration policy status report for the policies ordered by Policy Name ascending implies the need to set the input parameter 
                'orderBy' equal to ["PolicyName asc"].   
                If not differently specified, set 'orderBy' input parameter with the following value 
                ["PolicyName asc"] 
                Always include the 'orderBy' input parameter in the post request. 

                The internal name of the columns to be used in the 'select', 'filter' and 'orderBy' input parameters are 
                "PolicyName","UnifiedPolicyPlatformType","NumberOfNonCompliantDevices","NumberOfErrorDevices","PolicyBaseTypeName","PolicyId"
                When creating the values or the expressions for the 'select', 'filter' and 'orderBy' input parameters, select from the above list the internal name more 
                assonant to the name specified by the user in the input prompt.

                If not differently specified, set 'top' input parameter with the value 50.  

                If not differently specified, set 'skip' input parameter with the value 0. 

                ENSURE THAT YOU ALWAYS INCLUDE THE FOLLOWING INPUT PARAMTERS IN THE BODY OF ALL CALLS TO THE REMOTE API
                'select','filter','skip','orderBy','top' 
                IF NOT DIFFERENTLY REQUESTED IN INPUT, ASSIGN TO THESE INPUT PARAMETERS THE DEFAULT VALUES SPECIFIED ABOVE.

            ExamplePrompt:
              - '[NOT YET WORKING] List all the Regulation Policies assigned to managed devices in Intune that have assignment errors or condition of non-compliance.'
              - '[NOT YET WORKING] Give me the number of assignment errors and condition of non-compliance for the Regulation Policy assigned to Android devices'
              - '[UNDER INVESTIGATION] AT THIS TIME THE ONLY WAY TO CALL THIS SKILL IS BY DIRECT SKILL INVOKATION, PASSING ALL THE PARAMETERS select, filter, skip and top.'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                select:
                                    type: array
                                    description: An array of strings with the name of the fields to be included in the response. Always specify a value for this parameter. Use ["PolicyName"] if no other value is specified as input                                    
                                    items:
                                        type: string
                                    defaultValue: ["PolicyName"] 
                                    example: ["PolicyName","UnifiedPolicyPlatformType","NumberOfNonCompliantDevices","NumberOfErrorDevices","PolicyBaseTypeName","PolicyId"]
                                filter:
                                    description: An OData filtering expression to be used for filtering the results in the response.
                                    type: string
                                    example: "((PolicyBaseTypeName eq 'Microsoft.Management.Services.Api.DeviceCompliancePolicy') or (PolicyBaseTypeName eq 'DeviceManagementCompliancePolicy'))"
                                skip:
                                    type: integer
                                    example: 0
                                search:
                                    type: string
                                    example: ""
                                orderBy:
                                    type: array
                                    description: An array of strings with the name of the fields to be used for ordering the response.
                                    items:
                                        type: string
                                    example: ["PolicyName asc"]
                                top:
                                    type: integer
                                    example: 50
            responses:
                '200':
                    description: Successful response with the apps install summary report
                    content:
                        application/json:
                '401':
                    description: Unauthorized
                '403':
                    description: Forbidden - Insufficient permissions to access the resource
                '500':
                    description: Internal Server Error - An error occurred on the server

